<!-- <div class="naslov">
    <h2>{{book.title}}</h2>
</div> -->
<div class="container">
    <div class="center">
        
        <form (ngSubmit)="updateBook()">
           
            <div>
                <label>Author</label>
                <input class="form-control" type="text" name="author" [(ngModel)]="author">
            </div>
            <div>
                <label>Photo</label>
                <input class="form-control" type="text" name="photo"  [(ngModel)]="photo">
            </div>

            <div>
                <label>Rating</label>
                <input class="form-control" type="text" name="rating" [(ngModel)]="rating">
            </div>

            <div>
                <label>Published Year</label>
                <input class="form-control" type="text" name="publishedYear" [(ngModel)]="publishedYear">
            </div>
            <div>
                <button style="margin-top: 2%;" type="submit" class="btn btn-primary">Update</button>
            </div>

        </form>
    </div>
</div>
