<div *ngIf="book" class="book-detail-container">
  <div class="row">
    <div class="col-md-4">
      <img [src]="book.photo" alt="{{ book.title }}" class="book-cover" />
    </div>
    <div class="col-md-8">
      <h1 class="display-4">{{ book.title }}</h1>
      <p class="lead">Author: {{ book.author }}</p>
      <p class="lead">Published Year: {{ book.publishedYear }}</p>
      <p class="lead">Rating: {{ book.rating }}</p>

      <h2 class="mt-4">Reviews:</h2>
      <div *ngFor="let review of book.reviews" class="review-card mb-3">
        <p>{{ review.text }}</p>
        <small class="review-date"
          >{{ review.daterev | date : "medium" }}
          <!-- -
          <span *ngIf="reviewUsers.get(review.idReview)">
            {{ reviewUsers.get(review.idReview)?.username }}
          </span> -->
        </small>
      </div>

      <button
        type="button"
        *ngIf="adminLogin"
        class="btn btn-outline-primary"
        (click)="navigateToAddReview()"
      >
        Add Review
      </button>
    </div>
  </div>
</div>
