/* styles.css ili book-detail.component.css */
.book-detail-container {
    padding: 20px;
  }
  
  .book-cover {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .review-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .review-date {
    color: #666;
  }
  